@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;900&display=swap');
/* layout */
/*=================================
  initialization of style
===================================*/
body {
  margin: 0;
  padding: 0;
  background:#ffffff;
  color: #000000;
  font-family: 'Noto Sans JP', serif;
  font-size: 16px;
  line-height: 200%;
  text-align: center;
  width: 100%;
  height: 100%;
  letter-spacing: 1px;
  word-break: break-all;
  line-break: strict;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a:link,
a:visited {
  text-decoration: none;
  color: #000;
}
a:hover,
a:active {
  text-decoration: none;
  color: #000;
  opacity: 0.7;
}

figure,figcaption,div,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,form {
  margin: 0;
  padding: 0;
}
img, a img {
  border:none;
  vertical-align: bottom;
}
img{ display: block; width: 100%; }


/* List_group */
ul,ol,li { list-style: none;}

/* inline-style */
address {
  font-style: normal;
  font-size: 12px;
  color: #000;
}
  address a,
  address a:link,
  address a:visited {
    text-decoration: none;
    color: #000;
  }
  address a:hover,
  address a:active {
    text-decoration: underline;
    color: #000;
  }

/* table */
table { width:100%;}
tr,th,td {}

*, *:before, *:after {
  outline: none!important;
            box-sizing: border-box;
}
.icon-svg{
  position: absolute;
  width: 0;
  height: 0;
}
.tsn{ transition: 0.4s; }
.clear::after{ content: " "; clear: both; display: block; width: 100%; height: 0; }
